*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.first{
    background-image: url(./images/mobile/image-header.jpg);
    padding: 32px 24px 0 24px;
    background-size: 100%
}
.arrow{
    display: block;
    margin:auto;
    padding-bottom: 126px;
}
.navigation{
    display: none;
}
.navigation.active {
    display: block;
  position: absolute;
  width: 87%;
}
.navigation-menu{
    row-gap:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 39px;
    background-color: white;
    color: rgba(128, 131, 151, 1);
}
.triangle{
    height: 24px;
    width: 24px;
    text-align: right;
    margin-left: auto;
    margin-top: 50px;
    background: linear-gradient(135deg, rgb(255, 255, 255, 0) 50%, #fffcf8 50%);
}
.contact1{
    background: #FBD600;
    border-radius: 28px;
    color: rgba(36, 48, 62, 1);
    padding: 16px 30px 15px 29px;
}
.line1 {
  width: 100%;
  height: 2px;
  background-color: rgba(128, 131, 151, 1);;
  margin-bottom: 4px;
}
.aboutfirst, .servicesfirst, .projectsfirst, .contact{
    display:none;
}
.firsttitle{
    padding-top: 0;
    display: flex;
    flex-direction: row;
}
.sunnyside{
    font-weight: 900;
    color: white;
    letter-spacing: -0.9px;
}
.burger-menu{
    text-align: right;
    margin-left: auto;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 5;
}
.maintitle{
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 88px 24px 52px 24px;
}
.egg{
    width: 100%;
}
.desktopegg, .desktoppink, .desktopmilk, .desktophalforange, .desktopcone, .desktopcubes{
    display: none;
}
.transform{
    background-color: #FFFFFF;
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
}
.transformtitle{
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: #24303E;
}
.transformp{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;
}
.learnmore{
    font-weight: bolder;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
    text-align: center;
}
.learnline{
    margin-top: 8px;
}
.line{
    width: 137px;
    margin: auto;
    height: 10px;
    background: #FAD400;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;
    margin-top: -10px;
}
.pink{
    width: 100%;
}
.linepink{
    width: 137px;
    margin: auto;
    height: 10px;
    background: rgba(254, 119, 102, 0.8);
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;
    margin-top: -10px;
}
.cherry{
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}
.graphicdesign{
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #24554A;
    margin-top: 398px;
}
.graphicp{
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    color: #24554A;
    padding: 27px 24px 59px 24px;
}
.orange{
    background-image: url(./images/mobile/image-photography.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}
.photography{
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #052C3B;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-top: 398px;
}
.photop{
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    color: #19536C;
    padding: 27px 24px 59px 24px;
}
.white{
    display: flex;
    flex-direction: column;
}
.whitetitle{
    margin-top: 64px;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: #A7AAAD;
}
.people{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}
.picture{
    border-radius: 50%;
    width: 25%;
    margin: auto;
}
.whitep{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
    padding: 32px 24px 0 24px;
} 
.whitename{
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
    padding-top: 32px;
}
.whiteposition{
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
    padding-top: 9px;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 86px;
}
.milk, .halforange, .cone, .cubes{
    width: 50%;
}
.last{
    display: flex;
    flex-direction: column;
    background-color: #90D4C6;
}
.lasttitle{
    color:#2C7566;
    text-align: center;
    margin-top: 64px;
}
.lastitems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about, .services, .projects{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    padding: 40px 39px 88px 39px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: auto;
    padding-bottom: 80px;
}
@media(min-width:1440px){
.first{
    background-image: url(./images/desktop/image-header.jpg);
}
.firsttitle{
    padding: 46px 40px 0 40px;
    display: flex;
}
.icon, .navigation-menu, .burger-menu{
    display: none;
}
.aboutfirst, .servicesfirst, .projectsfirst{
    display:flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
}
.path2{
    display: none;
}
.contact{
    display: flex;
    padding: 16px 30px 15px 32px;
    background: #FFFFFF;
    border-radius: 28px;
    margin-top: -15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
}
.fordesktop{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-left: auto;
    gap: 47px;
}
.arrow{
    padding-bottom: 280px;
    margin-top: 66px;
}
.maintitle{
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.egg, .pink{
    display: none;
}
.desktopegg{
    display: block;
    width: 50%;
}
.second{
    width: 50%;
    order:-1;
}
.transform{
    width: 50%;
}
.desktoppink{
    display: block;
    width: 50%;
}
.cherry{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    width: 50%;
}
.orange{
    background-image: url(./images/desktop/image-photography.jpg);
    width: 50%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 81px;
    margin-bottom: 139px;
}
.people{
    width: 28%;
}
.box{
    display: flex;
    flex-direction: row;
}
.milk, .halforange, .cone, .cubes{
    width: 25%;
}
.lastitems{
    display: flex;
    gap:50px;
    justify-content: center;
}
.contact, .learnline, .about, .services, .projects, .face, .insta, .twitter, .print{
    cursor: pointer;
}
.about:hover{
    color:white;
}
.services:hover{
    color: white;
}
.projects:hover{
    color: white;
}
.contact:hover{
    background-color: rgba(255, 255, 255, 0.54);
    color:white;
}
.learnline:hover .linepink{
    background-color: #e64b36;
}
.learnline:hover .line{
    background-color: #fbff00;;
}
svg:hover path { fill: white}
}